@model TokenResponseViewModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>External Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script>
        console.log('location: http://localhost:4200/close/@Html.Raw(Model.Email)/@Html.Raw(Model.User)/@Html.Raw(Model.Token)/@Html.Raw(Model.RefreshToken)');
        window.location.replace('http://localhost:4200/close/@Html.Raw(Model.Email)/@Html.Raw(Model.User)/@Html.Raw(Model.Token)/@Html.Raw(Model.RefreshToken)');
    </script>
</body>
</html>