@model TokenResponseViewModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>External Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script>
        console.log('location: http://localhost:4200/close/@Model.Email/@Model.User/@Model.Token/@Model.RefreshToken');
        window.location.replace('http://localhost:4200/close/@Model.Email/changeme/@Model.Token/@Model.RefreshToken');
    </script>
</body>
</html>