<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Battleships Online</a>
      <ul class="navbar-nav flex-grow">
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link text-dark" [routerLink]="['play']">Game</a>
        </li>
        <li *ngIf="!this.auth.isLoggedIn()">
          <a class="nav-link text-dark" [routerLink]="['join']">Join site</a>
        </li>
        <li *ngIf="this.auth.isLoggedIn()">
          <a (click)="logout()">
            <span class="nav-link text-dark"
              >Logout {{ this.getUserDisplayName() }}</span
            >
          </a>
          <a class="nav-link text-dark" [routerLink]="['test']">Test</a>
          <a
            *ngIf="this.auth.isAdmin()"
            class="nav-link text-dark"
            [routerLink]="['admin']"
            >Admin</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
