<div class="gameHeaderPic col-sm rounded-top"></div>
<h4>Privacy policy:</h4>
<div class="textContainer">
  <p>
    This Privacy Policy is meant to help you understand what information we
    collect, why we collect it, and how you can update, manage, export, and
    delete your information.
  </p>

  <p>
    We do not share your personal information with companies, organizations, or
    any individuals. When you create an account you provide us with personal
    information that includes your name, email address and a password. When
    you’re signed in, you can always review and update information about you in
    your profile edit view.
  </p>

  <p>
    The information we collect includes unique identifiers, email address and
    user names.
  </p>
</div>
<h4>Cookies policy:</h4>
<div class="textContainer">
  <p>We are not using any cookies.</p>
</div>
<button type="submit" (click)="onBack()" class="btn btn-md btn-light">
  Go to main view
</button>
