<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" [routerLink]="['/']">Battleships Online</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link pointer btn btn-light"
          [routerLink]="['connect-game']"
          >Game</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-light" [routerLink]="['policies']"
          >Policies</a
        >
      </li>
      <li class="nav-item" *ngIf="!this.auth.isLoggedIn()">
        <a class="nav-link btn btn-light" [routerLink]="['join-site']"
          >Join site</a
        >
      </li>
      <li class="nav-item" *ngIf="this.auth.isLoggedIn()">
        <a class="nav-link btn btn-light" [routerLink]="['edit-profile']"
          >Edit profile</a
        >
      </li>
      <li class="nav-item" *ngIf="this.auth.isLoggedIn()">
        <a (click)="logout()">
          <span class="nav-link btn btn-light"
            >Logout {{ this.getUserDisplayName() }}</span
          >
        </a>
      </li>
      <li class="nav-item" *ngIf="this.auth.isLoggedIn()">
        <a
          *ngIf="this.auth.isAdmin()"
          class="nav-link btn btn-primary"
          [routerLink]="['admin']"
          >Admin</a
        >
      </li>
    </ul>
  </div>
</nav>
