.gameHeaderPic {
  background-image: url("../../../assets/images/battle.jpg");
}

.row {
  margin-top: 10px;
  margin-left: 10px;
}

.sprite {
  position: absolute;
  width: 40px;
  height: 40px;
}

app-ship {
  position: absolute;
  cursor: pointer;
}

.pointer:hover {
  border: dashed 3px red;
}

.boardComment {
  font-size: 20px;
  height: 30px;
}
