<div class="container">
  <div class="row">
    <div class="gameMenuBtn col-sm">
      <span>
        <a class="nav-link text-light" [routerLink]="['start']"
          >Start New Game</a
        >
      </span>
    </div>
    <div class="gameMenuBtn col-sm">
      <span>
        <a class="nav-link text-light" [routerLink]="['enter']"
          >Join open game</a
        >
      </span>
    </div>
    <div class="gameMenuBtn col-sm">
      <span>
        <a class="nav-link text-light" [routerLink]="['best']">Top players</a>
      </span>
    </div>
  </div>
</div>
