<div class="gameHeaderPic col-sm rounded-top"></div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Turn</th>
      <th scope="col">Players</th>
      <th scope="col">Info</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of this.gameList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ game.gameTurnNumber }}</td>
      <td>{{ game.playing }} / {{ game.totalPlayers }}</td>
      <td>
        <span class="text-danger" *ngIf="this.currentGame === game.gameId">
          Playing now
        </span>
      </td>
      <td>
        <a (click)="redirect(game.gameId)" class="btn btn-md btn-success">
          Play
        </a>
      </td>
    </tr>
  </tbody>
</table>
