<div class="col-sm-12 gameStatus dataRow">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-3">Mode</div>
      <div class="col-sm-3">Speed</div>
      <div class="col-sm-3">Difficulty</div>
      <div class="col-sm-3">Joining</div>
    </div>
    <div class="row">
      <div class="col-sm-3 font-weight-bold">{{ gameMode }}</div>
      <div class="col-sm-3 font-weight-bold">{{ gameSpeed }}</div>
      <div class="col-sm-3 font-weight-bold">{{ gameDifficulty }}</div>
      <div class="col-sm-3 font-weight-bold">{{ gameJoining }}</div>
    </div>
  </div>
</div>
