<div class="gameHeaderPic col-sm rounded-top"></div>
<div class="row">
  <div class="col-lg-5">
    <!--game status-->
    <div class="col-sm-12 gameStatus dataRow">
      <h2 class="form-title">Ship deployment</h2>
      <div *ngIf="isDeploymentAllowed; then deploying; else waiting"></div>
      <ng-template #deploying>
        <div class="row deploying-view">
          <div *ngIf="isDeployed; then deployed; else notDeployed"></div>
          <ng-template #notDeployed>
            <div class="row not-deployed-view">
              <div class="col-sm-6">
                <div>Deploy ships:</div>
                <h4 [ngClass]="count < 30 ? 'redColor' : 'greenColor'">
                  {{ count }} s.
                </h4>
                <div>Remaining ships:</div>
                <h4>{{ fleet.getFleetWaiting.length }}</h4>
              </div>
              <div class="ships col-sm-6">
                <div>(click to rotate)</div>
                <div class="droplist col-sm-6">
                  <div
                    *ngIf="fleet.getFleetWaiting.length > 0"
                    class="fleet-waiting"
                  >
                    <div
                      [style.size]="30 * fleet.getFleetWaiting[0].size + 'px'"
                    >
                      <app-ship
                        #nextItem
                        [ngClass]="
                          fleet.getFleetWaiting[0].rotation == 90
                            ? 'rotate'
                            : 'rotateNot'
                        "
                        [size]="fleet.getFleetWaiting[0].size"
                        (click)="setRotation(0 + '-fleetWaiting')"
                      ></app-ship>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #deployed>
            <div class="col-sm-12 deployed-view">
              Waiting for second player to finish deploying...
            </div>
          </ng-template>
        </div>
      </ng-template>
      <ng-template #waiting>
        <div class="row waiting-view">
          <h4 class="col-sm-12 redColor">
            Waiting for second player to join this game...
          </h4>
          <div class="text-center gameStatus">
            <button
              [disabled]="isStartAllowed"
              type="submit"
              class="btn btn-md btn-success play-with-ai-btn"
              (click)="playWithAi()"
            >
              Play vs AI
            </button>
            <div class="col-sm-12 link">
              Link for your friends to join this game:
            </div>
            <button
              type="button"
              class="btn btn-md btn-primary linkBtn"
              (click)="copyToClipboard()"
            >
              Copy link to the clipoard
            </button>
            <button
              type="button"
              class="btn btn-md btn-primary linkBtn"
              (click)="shareOnFacebook()"
            >
              Share link on Facebook
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <!--game chat-->
    <game-chat [userName]="userName" [multiplayer]="multiplayer"></game-chat>
  </div>
  <div class="droplist col-lg-7">
    <game-setup></game-setup>
    <!--buttons-->
    <div class="text-center">
      <button
        [disabled]="isDeployed"
        [disabled]="!isDeploymentAllowed"
        type="submit"
        class="btn btn-md btn-light clear-board-btn"
        (click)="clearBoard()"
      >
        Clear board
      </button>
      <button
        [disabled]="isDeployed"
        [disabled]="!isDeploymentAllowed"
        type="submit"
        class="btn btn-md btn-light auto-deploy-btn"
        (click)="autoDeploying()"
      >
        Auto deploy
      </button>
      <button
        [disabled]="!isDeployEnabled || isDeployed || !isDeploymentAllowed"
        type="submit"
        class="btn btn-md btn-success deploy-ships-btn"
        (click)="confirm()"
      >
        Deploy ships
      </button>
    </div>
    <!--board-->
    <div class="board text-center" #board>
      <div
        class="boardRow"
        *ngFor="let row of board.getPlayersBoard; let i = index"
      >
        <div *ngFor="let box of row; let j = index">
          <div
            [ngClass]="{ boardCell: true, pointer: isDeploymentAllowed }"
            [style.backgroundColor]="box.color"
            #cell
            (mouseleave)="resetBoardElement(cell, j, i)"
            (mouseover)="checkHoveredElement(j, i, cell)"
            (click)="deployShip(j, i)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
