.gameHeaderPic {
  background-image: url("../../../assets/images/deploy.jpg");
}

.row {
  margin-top: 10px;
  margin-left: 10px;
}

.rotate {
  transform-origin: top left;
  transform: translateX(30px) rotate(90deg);
}

.rotateNot {
  transform: rotate(0deg);
}

app-ship {
  position: absolute;
  cursor: pointer;
}
