.gameHeaderPic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/rules.jpg");
  height: 85px;
}

h4,
p {
  margin: 20px;
}

.textContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
}
