.gameStatus,
.gameChat {
  border: solid 1px;
}

.dataRow {
  min-height: 150px;
  margin-top: 10px;
}

.row {
  margin-top: 10px;
}

table {
  margin: 20px;
}

table td {
  border: solid 1px;
  width: 3vw;
  height: 3vw;
  text-align: center;
}

@media (max-width: 750px) {
  table td {
    width: 9vw;
    height: 9vw;
    font-size: 30px;
  }
}
