<div class="row">
  <div class="col-md-6">
    <div class="col-md-8 gameStatus dataRow">
      <p>Status: {{ gameStatus }}</p>
      <p>Turn number: {{ gameTurnNumber }}</p>
      <p>Turn of: TODO: update it</p>
    </div>
  </div>
  <div class="col-md-6 gameChat dataRow">
    <div class="chatDisplay">
      <div *ngFor="let message of this.chatMessages">
        <span *ngIf="this.userName == message.userName" class="greenColor">
          {{ message.displayName }}:
        </span>
        <span *ngIf="this.userName != message.userName" class="redColor">
          {{ message.displayName }}:
        </span>
        <span>{{ message.message }}</span>
      </div>
    </div>
    <div class="col-md-12 textInputRow">
      <input
        class="form-control chatInput"
        type="text"
        [(ngModel)]="chatMessage"
        (keyup.enter)="sendChatMessage()"
      />
      <button
        type="button"
        class="btn btn-md btn-success"
        (click)="sendChatMessage()"
      >
        Send
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div>Player 1: {{ player2 }}</div>
    <table>
      <tr *ngFor="let row of boardP1; let j = index">
        <td
          *ngFor="let col of row; let k = index"
          [style.background-color]="col.used ? '' : 'transparent'"
          [class.win]="col.status == 'win'"
          [class.fail]="col.status !== 'win'"
          class="battleship-tile"
        >
          {{ col.value == "X" ? "X" : "💀" }}
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <div>Player 2: {{ player1 }}</div>
    <table>
      <tr *ngFor="let row of boardP2; let j = index">
        <td
          *ngFor="let col of row; let k = index"
          (click)="fireTorpedo(j, k)"
          [style.background-color]="col.used ? '' : 'transparent'"
          [class.win]="col.status == 'win'"
          [class.fail]="col.status !== 'win'"
          class="battleship-tile"
        >
          {{ col.value == "X" ? "X" : "💀" }}
        </td>
      </tr>
    </table>
  </div>
</div>
