<div class="gameHeaderPic col-sm rounded-top"></div>
<div class="row">
  <div class="col-md-5">
    <!--game status-->
    <div class="gameStatus dataRow">
      <h2 class="login-title">Battle</h2>
      <div *ngIf="this.isStartAllowed; then playing; else waiting"></div>
      <ng-template #playing>
        <div class="row">
          <div class="col-sm-12">
            <div>Time remaining:</div>
            <div
              *ngIf="
                this.clientsPlayerNumber == this.whoseTurnNumber;
                then shoot;
                else takeHit
              "
            ></div>
            <ng-template #shoot>
              <h4 [ngClass]="this.count < 5 ? 'redColor' : 'greenColor'">
                {{ count }} s.
              </h4>
            </ng-template>
            <ng-template #takeHit>
              <h4>Opponents turn...</h4>
            </ng-template>
            <div>Players turn:</div>
            <h4
              [ngClass]="
                this.whoseTurnNumber == this.clientsPlayerNumber
                  ? 'greenColor'
                  : 'redColor'
              "
            >
              {{ this.whoseTurnName }}
            </h4>
            <div>Turn number:</div>
            <h4>{{ this.turnNo }}</h4>
          </div>
        </div>
      </ng-template>
      <ng-template #waiting>
        <div class="row">
          <h4 class="col-sm-12 redColor">
            Waiting for second player to join this game...
          </h4>
          <div class="text-center">
            <button
              [disabled]="this.isStartAllowed"
              type="submit"
              class="btn btn-md btn-secondary"
              (click)="playWithAi()"
            >
              Play vs AI
            </button>
            <div class="col-sm-12 link">
              Link for your friends to join this game:
            </div>
            <button
              type="button"
              class="btn btn-md btn-primary linkBtn"
              (click)="copyToClipboard()"
            >
              Copy link to the clipoard
            </button>
            <button
              type="button"
              class="btn btn-md btn-primary linkBtn"
              (click)="shareOnFacebook()"
            >
              Share link on Facebook
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <!--game chat-->
    <div
      class="col-sm-12 gameChat"
      [style.display]="this.multiplayer ? 'block' : 'none'"
    >
      Game chat:
      <div class="chatDisplay">
        <div *ngFor="let message of this.chatMessages">
          <span *ngIf="this.userName == message.userName" class="greenColor"
            >{{ message.displayName }}:
          </span>
          <span *ngIf="this.userName != message.userName" class="redColor"
            >{{ message.displayName }}:
          </span>
          <span>{{ message.message }}</span>
        </div>
      </div>
      <div class="col-md-12 textInputRow">
        <input
          class="form-control chatInput"
          type="text"
          [(ngModel)]="chatMessage"
          (keyup.enter)="sendChatMessage()"
        />
        <button
          type="button"
          class="btn btn-md btn-success"
          (click)="sendChatMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
  <div class="droplist col-md-7">
    <!--sprite-->
    <div *ngIf="displaySprite">
      <app-animated-sprite
        class="sprite"
        (animationFinish)="getNotification($event)"
        [url]="spriteUrl"
        [id]="spriteComponent.id"
        [frameRate]="spriteComponent.frameRate"
        [totalRows]="4.0"
        [totalcols]="4"
        [totalFrames]="15"
        [isLoop]="false"
        [style.top.px]="[spriteY]"
        [style.left.px]="[spriteX]"
        #aniDiv2
      >
      </app-animated-sprite>
    </div>

    <h4
      [ngClass]="{
        greenColor: this.gameBoardComment.color == 'green',
        redColor: this.gameBoardComment.color == 'red',
        blackColor: this.gameBoardComment.color == 'black'
      }"
    >
      {{ this.gameBoardComment.text }}
    </h4>
    <div
      *ngIf="
        this.clientsPlayerNumber == this.whoseTurnNumber;
        then opponent;
        else player
      "
    ></div>
    <!--board1-->
    <ng-template #player>
      <div class="board text-center">
        <div
          class="boardRow"
          *ngFor="
            let row of this.boards[this.clientsPlayerNumber];
            let i = index
          "
        >
          <div *ngFor="let box of row; let j = index">
            <div
              class="boardCell"
              [style.backgroundColor]="box.color"
              #cell
            ></div>
          </div>
        </div>
      </div>
    </ng-template>
    <!--board2-->
    <ng-template #opponent>
      <div class="board text-center">
        <div
          class="boardRow"
          *ngFor="
            let row of this.boards[this.opponentsPlayerNumber];
            let i = index
          "
        >
          <div *ngFor="let box of row; let j = index">
            <div
              [ngClass]="{
                boardCell: true,
                pointer: !this.isResultBeingDisplayed && !this.gameEnded
              }"
              [style.backgroundColor]="box.color"
              #cell
              (click)="fire(j, i, cell)"
            ></div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
